<ion-modal-view ng-class="{addressEntry : data.addressEntry}">
    <ion-header-bar>
        <i class="icon ion-close-round" style="padding-left:10px;float:left;font-size: 34px;cursor:hand;cursor:pointer;" ng-click="closeModal()"></i><h1 class="title">{{prizes.selectedPrize.name}}</h1>
    </ion-header-bar>
    <ion-content>
        <div ng-if="data.entry">
            <div class="list providence-primary" style="margin-bottom:10px;">
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="data.name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" ng-model="data.email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Address</span>
                    <input type="text" ng-model="data.address">
                </label>
            </div>
            <div style="padding-left:10px;padding-right:10px;height:100%;">
                <button class="button button-block providence-primary-block" ng-click="redeem(prizes.selectedPrize._id)" style="height:100%;">Proceed</button>
            </div>
        </div>
        <div ng-if="!data.entry">
            <div class="list card" ng-if="!loggedInAccount.rippleName">

                <div class="item item-avatar">
                    <img src="https://d1pzmogk9nquph.cloudfront.net/img/providenceCirl-01.png">
                    <h2 class="providence-primary" style="float:left;margin-bottom:0px;">Providence</h2>
                    <br>
                    <p class="providence-primary" style="font-size: 12px;float:left;">PVD to:</p>
                </div>

                <div class="item item-image">
                    <img style="max-width:250px;" ng-src="{{data.addressInfo.qr}}">
                </div>

                <a class="item providence-primary-block" ng-href="{{data.addressInfo.link}}" target="_blank" style="color:#fff;">
                    Send PVD
                </a>

            </div>
            <div class="list card" ng-if="loggedInAccount.rippleName">

                <div class="item item-avatar">
                    <img src="https://d1pzmogk9nquph.cloudfront.net/img/providenceCirl-01.png">
                    <h2 class="providence-primary" style="float:left;margin-bottom:0px;">Providence</h2>
                    <br>
                    <p class="providence-primary" style="font-size: 12px;float:left;">PRV to ~OurProvidence</p>
                </div>

                <div class="item item-image" ng-if="prizes.selectedPrize.type == 'auction'">
                    <label class="item item-input">
                        <input type="text" placeholder="Amount PRV" ng-model="data.amountPrv">
                    </label>
                </div>

                <a class="item providence-primary-block" ng-if="data.pathObject" ng-repeat="path in data.pathObject.alternatives" ng-click="sendBidRedeemPrv(path)" style="color:#fff;">
                    <span ng-if='path.source_amount.currency == "PRV"'>
                    Send {{path.source_amount.value | number : 4}} {{path.source_amount.currency}}
                    </span>
                    <span ng-if='path.source_amount.currency != "PRV"'>
                    Send {{path.source_amount.value | number : 4}} {{path.source_amount.currency}} for {{data.amountPrv | number : 4}} PRV
                    </span>
                </a>

            </div>
        </div>
    </ion-content>
</ion-modal-view>