<ion-view title="tradein">
    <ion-content class="padding" style="padding-top: 55px;">
        <div class="row" style="height: 55px;padding:0px;margin-bottom: 5px;">
            <div class="col" style="padding:0px;padding-top: 10px;">
                <h5 class="providence-primary" ng-if="loggedInAccount.rippleName">~{{loggedInAccount.rippleName}}</h5>
            </div>
            <div class="col" style="padding:0px;padding-top: 10px;">
                <h5 class="providence-primary" ng-if="loggedInAccount.rippleName"><span>{{balances.pcvAmount}}</span> PCV</h5>
            </div>
        </div>
        <div class="row" style="margin-top: -4px;padding:0px;">
            <div class="col" ng-if="!data.foundingShares" style="padding:0px;">
                <div class="list card">
                    <div class="item item-avatar">
                        <img src="https://d1pzmogk9nquph.cloudfront.net/img/providenceCirl-01.png">
                        <h2 class="providence-primary" style="float:left;margin-bottom:0px;">Providence</h2>
                        <br>
                        <p class="providence-primary" style="font-size: 12px;float:left;">{{data.date | date:'medium'}}</p>
                    </div>

                    <div class="item item-body">
                        <p class="regularPost" style="text-align:left;margin-top:0px;">
                            Dear accredited investor PCV holders,
                            <br><br>
                            Thank you for your support in our trials. You made Providence possible. With your continued influence, we will place advanced business logic inline with everyday life, enabling every person worldwide to enterprise and thrive. Please fill out the form, click submit, and send PCV to the displayed address. In doing this, you secure your founding shareholder status. Papers for the Providence California C-Corporation will arrive over email by January 1st, 2015.
                            <br><br>
                            Sincerely,
                            <br>
                            OurProvidence
                        </p>
                    </div>

                    <a class="item providence-primary-block" style="color:#fff !important;font-size: 14px;" ng-click="foundingShares()" target="_blank">
                        Reserve founding shares
                    </a>

                </div>
            </div>
            <div class="col" ng-if="data.foundingShares" style="padding:0px;">
                <div class="list list-inset" ng-if="!data.addressInfo" style="padding:0px;">
                    <form ng-submit="submit()">
                        <label class="item item-input">
                            <input type="text" placeholder="First Name" ng-model="data.info.firstname">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="Last Name" ng-model="data.info.lastname">
                        </label>
                        <label class="item item-input">
                            <input type="email" placeholder="Email" ng-model="data.info.email">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="Phone/Skype" ng-model="data.info.phone">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="Mailing Address" ng-model="data.info.address">
                        </label>
                        <li class="item item-checkbox providence-primary" style="font-size:12px;">
                            <label class="checkbox">
                                <input type="checkbox" ng-model="data.info.accredited">
                            </label>
                            I am accredited
                        </li>
                        <span class="providence-primary"><a href="http://www.investor.gov/news-alerts/investor-bulletins/investor-bulletin-accredited-investors#.VFmTTPTF-Ng" target="_blank">What is an accredited investor?</a></span>
                        <button type="submit" class="item button button-block providence-primary-block" style="margin-top:0px;">Submit</button>
                    </form>
                </div>

                <div ng-if="data.addressInfo && !data.success && !loggedInAccount.rippleName">
                    <div class="list card">

                        <div class="item item-avatar">
                            <img src="https://d1pzmogk9nquph.cloudfront.net/img/providenceCirl-01.png">
                            <h2 class="providence-primary" style="float:left;margin-bottom:0px;">Providence</h2>
                            <br>
                            <p class="providence-primary" style="font-size: 12px;float:left;">PCV to:</p>
                        </div>

                        <div class="item item-image">
                            <img style="max-width:250px;" ng-src="{{data.addressInfo.qr}}">
                        </div>

                        <a class="item providence-primary-block" ng-href="{{data.addressInfo.link}}" target="_blank" style="color:#fff;">
                            Send PCV
                        </a>

                    </div>
                </div>

                <div ng-if="data.addressInfo && !data.success && loggedInAccount.rippleName">
                    <div class="list card">

                        <div class="item item-avatar">
                            <img src="https://d1pzmogk9nquph.cloudfront.net/img/providenceCirl-01.png">
                            <h2 class="providence-primary" style="float:left;margin-bottom:0px;">Providence</h2>
                            <br>
                            <p class="providence-primary" style="font-size: 12px;float:left;">PCV to ~OurProvidence</p>
                        </div>

                        <div class="item item-image">
                            <label class="item item-input">
                                <input type="text" placeholder="Amount PCV" ng-model="data.amountPcv">
                            </label>
                        </div>

                        <a class="item providence-primary-block" ng-if="data.pathObject" ng-repeat="path in data.pathObject.alternatives" ng-click="sendPcv(path)" style="color:#fff;">
                            Send {{path.source_amount.value | number : 4}} {{path.source_amount.currency}} for {{(data.amountPcv * 3) | number : 4}} Founding Shares
                        </a>

                    </div>
                </div>

                <div ng-if="data.success" style="text-align:center;">
                    <div class="list card">
                        <div class="item">
                            <i class="icon ion-ios7-checkmark-outline" style="color:#113a64;font-size:100px;"></i>
                            <h4 style="color:#113a64;">{{data.success}}</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </ion-content>
    <div class="row" style="padding:0px;text-align:center;position:fixed;bottom:0px;z-index:999999999999;">
        <div class="col">
            <i class="icon ion-key key" ng-show="!loggedInAccount.publicKey" style="font-size:50px;" ng-click="connectRipplePrompt()"></i>
            <i class="icon ion-chatbubbles key" ng-show="loggedInAccount.rippleName" style="font-size:50px;" ng-click="toggleChat()"></i>
        </div>
    </div>
</ion-view>