<ion-view title="pecunia">
    <img style="width:100%;margin-top:95px;" src="https://d1pzmogk9nquph.cloudfront.net/img/shutterstock_142694131.jpg">
    <ion-content class="padding">
        <image class="fullLogo" src="https://d1pzmogk9nquph.cloudfront.net/img/pecunia.png" />
        <h1 class="pecunia-primary timer" am-time-ago="timer"></h1>
        <h1 class="pecunia-primary tagline">our globalized small securities exchange.</h1>
    </ion-content>
</ion-view>