<ion-view title="pilgrim">
    <img style="width:100%;margin-top:95px;" src="https://d1pzmogk9nquph.cloudfront.net/img/dreamstimelarge_38900521.jpg">
    <ion-content class="padding">
        <image class="fullLogo" src="https://d1pzmogk9nquph.cloudfront.net/img/pilgrim.png" />
        <h1 class="pilgrim-primary timer" am-time-ago="timer"></h1>
        <h1 class="pilgrim-primary tagline">our contract credit.</h1>
    </ion-content>
</ion-view>