<ion-view title="providence" class="mained">
  <img style="width:100%;margin-top: 100px;" src="https://d1pzmogk9nquph.cloudfront.net/img/ProvidenceDiagram.png">
  <ion-content class="padding" style="padding-top: 70%;">
      <h1 class="providence-primary" style="padding-top:20px;">Freedom to Enterprise</h1>
      <image class="fullLogo" src="https://d1pzmogk9nquph.cloudfront.net/img/providence.png" />
      <div class="row timer" style="padding-bottom:20px;">
          <div class="col col-40" style="width:40%;"><a href="mailto:jared@providence.solutions?Subject=I%20Need%20Freedom" target="_top"><img width="100" height="100" class="imgBoard" src="/img/jared.jpeg"></a></div>
          <div class="col col-20" style="width:20%;"><a href="https://angel.co/providence-2" target="_blank"><img width="50" height="50" class="imgBoard radius" src="/img/angel.png"></a></div>
          <div class="col col-40" style="width:40%;"><a href="mailto:matthew@providence.solutions?Subject=I%20Need%20Freedom" target="_top"><img width="100" height="100" class="imgBoard" src="/img/matthew.jpeg"></a></div>
      </div>
  </ion-content>
</ion-view>
