<ion-view title="admin">
    <ion-content class="padding" style="padding-top: 55px;">

        <div class="row" ng-if="!data.looking && prizes.noAdminPrizes">
            <div class="col">
                <div class="list list-inset">
                    <form ng-submit="getAll()">
                        <label class="item item-input">
                            <input type="password" placeholder="Password" ng-model="data.password">
                        </label>
                        <button type="submit" class="item button button-block providence-primary-block" style="margin-top:0px;">Sign In</button>
                    </form>
                </div>
            </div>
        </div>

        <div ng-if="data.looking && !prizes.noAdminPrizes">

            <div class="row" style="padding:0px;">
                <div class="col" style="padding:0px;">
                    <div class="button-bar">
                        <a class="button marketing-primary-block" ng-class="{ active: data.section == 'prizeSelected' }" ng-click="switchSection('prizeSelected')">Prizes</a>
                        <a class="button marketing-primary-block" ng-class="{ active: data.section == 'tradeinSelected' }" ng-click="switchSection('tradeinSelected')">Trade Ins</a>
                     </div>
                </div>
            </div>

            <div ng-if="data.section == 'prizeSelected'">
                <div class="row" style="padding:0px;">
                    <div class="col" style="padding:0px;">
                        <div class="button-bar">
                            <a class="button marketing-primary-block" ng-class="{ active: data.subSection == 'prizes' }" ng-click="switchSubSection('prizes')">Existing</a>
                            <a class="button marketing-primary-block" ng-class="{ active: data.subSection == 'newPrize' }" ng-click="switchSubSection('newPrize')">New</a>
                            <a class="button marketing-primary-block" ng-class="{ active: data.subSection == 'wins' }" ng-click="switchSubSection('wins')">Wins</a>
                        </div>
                    </div>
                </div>

                <div ng-if="data.subSection == 'newPrize'">
                    <div class="list card">
                        <form>
                            <div class="item item-avatar">
                                <img src="https://d1pzmogk9nquph.cloudfront.net/img/providenceCirl-01.png">
                                <br>
                                <label class="item item-input">
                                    <input type="text" placeholder="Name" ng-model="data.newCard.name">
                                </label>
                                <label class="item item-input" ng-if="data.newCard.type == 'redeem'">
                                    <input type="text" placeholder="Price ({{data.newCard.currency}})" ng-model="data.newCard.price">
                                </label>
                            </div>

                            <div class="item item-body">

                                <div class="item item-image">
                                    <img style="max-width:250px;" ng-src="{{data.newCard.image || 'https://d1pzmogk9nquph.cloudfront.net/profileEdit.jpg'}}" ng-click="uploadImage(data.newCard)">
                                    <input style="opacity:0;visibility:hidden;" type='file' name='{{data.newCard._id}}files' id='{{data.newCard._id}}files'>
                                </div>

                                <div class="list">

                                    <label class="item item-input item-select">
                                        <div class="input-label">
                                            Type
                                        </div>
                                        <select ng-model="data.newCard.type">
                                            <option value="redeem" selected>Redeem</option>
                                            <option value="auction">Auction</option>
                                        </select>
                                    </label>
                                    <label class="item item-input">
                                        <input type="datetime" date-time ng-model="data.newCard.endDate" hours format="short">
                                    </label>
                                    <label class="item item-input">
                                        <input type="text" pick-a-date="data.newCard.endDateDate" pick-a-date-options="{ format: 'yyyy-mm-dd' }">
                                    </label>
                                    <label class="item item-input">
                                        <input type="text" pick-a-time="data.newCard.endDateTime" pick-a-date-options="{ format: 'HH:i' }">
                                    </label>
                                    <label class="item item-input">
                                        <textarea placeholder="Description" ng-model="data.newCard.description"></textarea>
                                    </label>
                                    <label class="item item-input">
                                        <input type="text" placeholder="Inventory" ng-model="data.newCard.stock">
                                    </label>
                                    <li class="item item-checkbox providence-primary" style="font-size:12px;" ng-if="data.newCard.type == 'auction'">
                                        <label class="checkbox">
                                            <input type="checkbox" ng-model="data.newCard.recurring" checked>
                                        </label>
                                        Recurring
                                    </li>
                                    <div ng-if="card.recurring">
                                        <label class="item item-input">
                                            <input type="text" placeholder="Recurring Months" ng-model="data.newCard.recurringMonths">
                                        </label>
                                        <label class="item item-input">
                                            <input type="text" placeholder="Recurring Days" ng-model="data.newCard.recurringDays">
                                        </label>
                                        <label class="item item-input">
                                            <input type="text" placeholder="Recurring Hours" ng-model="data.newCard.recurringHours">
                                        </label>
                                        <label class="item item-input">
                                            <input type="text" placeholder="Recurring Minutes" ng-model="data.newCard.recurringMinutes">
                                        </label>
                                    </div>
                                    <li class="item item-checkbox providence-primary" style="font-size:12px;">
                                        <label class="checkbox">
                                            <input type="checkbox" ng-model="data.newCard.active" checked>
                                        </label>
                                        Active
                                    </li>
                                </div>
                            </div>
                        </form>

                        <div class="item tabs tabs-secondary">
                            <a class="tab-item providence-primary-block" ng-click="save(data.newCard)">
                                Save
                            </a>
                        </div>

                    </div>
                </div>

                <div ng-if="data.subSection == 'prizes'">
                    <div class="list list-inset" style="padding:0px;">
                        <form>
                            <li class="item item-checkbox providence-primary" style="font-size:12px;">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="data.activated" checked>
                                </label>
                                Only Show Active
                            </li>
                        </form>
                    </div>

                    <div class="list card" ng-repeat="card in prizes.adminPrizes" ng-if="(data.activated && card.active) || !data.activated">

                        <div ng-if="!card.edit">
                            <div class="item item-avatar">
                                <img src="https://d1pzmogk9nquph.cloudfront.net/img/providenceCirl-01.png">
                                <h2 class="providence-primary" style="float:left;margin-bottom:0px;">{{card.name}}</h2>
                                <br>
                                <p class="providence-primary" style="font-size: 12px;float:left;"><span ng-if="card.type == 'redeem'">{{card.price}} PVD</span><span ng-if="card.type == 'auction'">Current Bid {{card.highestBid.price}} PVD</span></p>
                            </div>

                            <div class="item item-body">

                                <div class="item item-image">
                                    <img style="max-width:250px;" ng-src="{{card.image}}">
                                </div>
                                <h4 ng-if="card.type == 'auction' && card.endDate" class="providence-primary">
                                    Ending in <timer finish-callback="auctionComplete(card._id)" end-time="{{card.endDate}}"><span ng-if="days">{{days}} days,</span> <span ng-if="hours">{{hours}} hours,</span> <span ng-if="minutes">{{minutes}} minutes,</span> <span ng-if="seconds">{{seconds}} seconds</span>.</timer>
                                </h4>
                                <p>
                                    {{card.description}}
                                </p>
                                <p>
                                    Inventory: {{card.stock}}
                                </p>
                            </div>
                        </div>

                        <div ng-if="card.edit">
                            <form>
                                <div class="item item-avatar">
                                    <img src="https://d1pzmogk9nquph.cloudfront.net/img/providenceCirl-01.png">
                                    <br>
                                    <label class="item item-input">
                                        <input type="text" placeholder="Name" ng-model="card.name">
                                    </label>
                                    <label class="item item-input" ng-if="card.type == 'redeem'">
                                        <input type="text" placeholder="Price ({{card.currency}})" ng-model="card.price">
                                    </label>
                                </div>

                                <div class="item item-body">

                                    <div class="item item-image">
                                        <img style="max-width:250px;" ng-src="{{card.image || 'https://d1pzmogk9nquph.cloudfront.net/profileEdit.jpg'}}" ng-click="uploadImage(card)">
                                        <input style="opacity:0;visibility:hidden;" type='file' name='{{card._id}}files' id='{{card._id}}files'>
                                    </div>

                                    <div class="list">
                                        <label class="item item-input">
                                            <input type="datetime" date-time ng-model="card.endDate" hours format="short">
                                        </label>
                                        <label class="item item-input">
                                            <input type="text" pick-a-date="card.endDateDate" pick-a-date-options="{ format: 'yyyy-mm-dd' }">
                                        </label>
                                        <label class="item item-input">
                                            <input type="text" pick-a-time="card.endDateTime" pick-a-date-options="{ format: 'HH:i' }">
                                        </label>
                                        <label class="item item-input">
                                            <textarea placeholder="Description" ng-model="card.description"></textarea>
                                        </label>
                                        <label class="item item-input">
                                            <input type="text" placeholder="Inventory" ng-model="card.stock">
                                        </label>
                                        <li class="item item-checkbox providence-primary" style="font-size:12px;" ng-if="card.type == 'auction'">
                                            <label class="checkbox">
                                                <input type="checkbox" ng-model="card.recurring" checked>
                                            </label>
                                            Recurring
                                        </li>
                                        <div ng-if="card.recurring">
                                            <label class="item item-input">
                                                <input type="text" placeholder="Recurring Months" ng-model="card.recurringMonths">
                                            </label>
                                            <label class="item item-input">
                                                <input type="text" placeholder="Recurring Days" ng-model="card.recurringDays">
                                            </label>
                                            <label class="item item-input">
                                                <input type="text" placeholder="Recurring Hours" ng-model="card.recurringHours">
                                            </label>
                                            <label class="item item-input">
                                                <input type="text" placeholder="Recurring Minutes" ng-model="card.recurringMinutes">
                                            </label>
                                        </div>
                                        <li class="item item-checkbox providence-primary" style="font-size:12px;">
                                            <label class="checkbox">
                                                <input type="checkbox" ng-model="card.active" checked>
                                            </label>
                                            Active
                                        </li>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="item tabs tabs-secondary">
                            <a class="tab-item providence-primary-block" ng-click="activateDeactivate(card)">
                                <span ng-if="card.active">Deactivate</span><span ng-if="!card.active">Activate</span>
                            </a>
                            <a class="tab-item providence-primary-block" ng-click="edit(card)" ng-if="!card.edit">
                                Edit
                            </a>
                            <a class="tab-item providence-primary-block" ng-click="save(card)" ng-if="card.edit">
                                Save
                            </a>
                        </div>

                    </div>

                </div>

                <div ng-if="data.subSection == 'wins'">
                    <div class="list list-inset" style="padding:0px;">
                        <form>
                            <li class="item item-checkbox providence-primary" style="font-size:12px;">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="data.unshipped" checked>
                                </label>
                                Only Show Unshipped
                            </li>
                        </form>
                    </div>

                    <div class="list card" ng-repeat="card in prizes.adminPrizes" ng-if="(data.unshipped && !card.shipped) || !data.unshipped">

                        <form>
                            <div class="item item-avatar">
                                <img src="https://d1pzmogk9nquph.cloudfront.net/img/providenceCirl-01.png">
                                <br>
                                <h2 class="providence-primary" style="float:left;margin-bottom:0px;">{{card.name}}</h2>
                            </div>

                            <div class="item item-body">

                                <div class="item item-image">
                                    <img style="max-width:250px;" ng-src="{{card.image || 'https://d1pzmogk9nquph.cloudfront.net/profileEdit.jpg'}}">
                                    <h5 class="providence-primary" style="font-size: 12px;float:left;">{{card.type | uppercase}}</h5>
                                </div>

                                <div ng-if="card.type == 'redeem'" ng-repeat="transaction in card.transactions">
                                    <div class="item">
                                        <h5 class="providence-primary" style="font-size: 12px;float:left;">{{transaction.value}} {{transaction.currency}}</h5>
                                        <h5 class="providence-primary" style="font-size: 12px;float:right;">{{transaction.dateValidated | date : format : fullDate}}</h5>
                                    </div>
                                    <h5>Address: {{transaction.name}}</h5>
                                    <h5>Email: {{transaction.email}}</h5>
                                    <h5>Address: {{transaction.address}}</h5>
                                    <button class="providence-primary-block" ng-click="shipEdit(transaction)">Shipped</button>
                                    <form ng-if="transaction.shipEdit" ng-submit="shipped(card, transaction)">
                                        <div class="list">
                                            <label class="item item-input">
                                                <input type="text" ng-model="transaction.shipService" placeholder="Tracking Service">
                                            </label>
                                            <label class="item item-input">
                                                <input type="text" ng-model="transaction.shipTracking" placeholder="Tracking #">
                                            </label>
                                            <li class="item item-checkbox providence-primary" style="font-size:12px;">
                                                <label class="checkbox">
                                                    <input type="checkbox" ng-model="card.shipp">
                                                </label>
                                                Shipped
                                            </li>
                                            <input type="submit" class="providence-primary-block" value="Save">
                                        </div>
                                    </form>
                                </div>

                                <div ng-if="card.type == 'auction'" ng-repeat="transaction in card.wins">
                                    <div class="item">
                                        <h5 class="providence-primary" style="font-size: 12px;float:left;">{{transaction.value}} {{transaction.currency}}</h5>
                                        <h5 class="providence-primary" style="font-size: 12px;float:right;">{{transaction.winDate | date : format : fullDate}}</h5>
                                    </div>
                                    <h5>Address: {{transaction.name}}</h5>
                                    <h5>Email: {{transaction.email}}</h5>
                                    <h5>Address: {{transaction.address}}</h5>
                                    <button class="providence-primary-block" ng-click="shipEdit(transaction)">Shipped</button>
                                    <form ng-if="transaction.shipEdit" ng-submit="shipped(card, transaction)">
                                        <div class="list">
                                            <label class="item item-input">
                                                <input type="text" ng-model="transaction.shipService" placeholder="Tracking Service">
                                            </label>
                                            <label class="item item-input">
                                                <input type="text" ng-model="transaction.shipTracking" placeholder="Tracking #">
                                            </label>
                                            <li class="item item-checkbox providence-primary" style="font-size:12px;">
                                                <label class="checkbox">
                                                    <input type="checkbox" ng-model="card.shipp">
                                                </label>
                                                Shipped
                                            </li>
                                            <input type="submit" class="providence-primary-block" value="Save">
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </form>

                    </div>

                </div>

            </div>

            <div ng-if="data.section == 'tradeinSelected'">

                <div class="list card" ng-if="data.cashins[0]" ng-repeat="cashin in data.cashins">

                    <div class="item item-avatar">
                        <img gravatar-src="cashin.email" gravatar-size="100">
                        <h2 class="providence-primary" style="float:left;margin-bottom:0px;">{{cashin.firstname}} {{cashin.lastname}}</h2>
                        <br>
                        <p class="providence-primary" style="font-size: 12px;float:left;">{{cashin.date  | date:'medium'}}</p>
                    </div>

                    <div class="item item-body">
                        <div class="card" style="text-align:center;margin-top:0px;">
                            <div class="item item-divider">
                                Shares
                            </div>
                            <div class="item item-text-wrap">
                                {{cashin.value}}
                            </div>
                        </div>
                        <div class="card" style="text-align:center;margin-top:0px;">
                            <div class="item item-divider">
                                Email
                            </div>
                            <div class="item item-text-wrap">
                                <a ng-href="mailto:{{cashin.email}}" target="_top">{{cashin.email}}</a>
                            </div>
                        </div>
                        <div class="card" style="text-align:center;margin-top:0px;">
                            <div class="item item-divider">
                                Phone
                            </div>
                            <div class="item item-text-wrap">
                                {{cashin.phone}}
                            </div>
                        </div>
                        <div class="card" style="text-align:center;margin-top:0px;">
                            <div class="item item-divider">
                                Address
                            </div>
                            <div class="item item-text-wrap">
                                {{cashin.address}}
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </ion-content>
</ion-view>