<ion-view title="command">
    <ion-content class="padding" style="padding-top: 55px;">
    <div class="row" style="height: 55px;padding:0px;margin-bottom: 5px;">
        <div class="col" style="padding:0px;padding-top: 10px;">
            <h5 class="providence-primary" ng-if="loggedInAccount.rippleName">~{{loggedInAccount.rippleName}}</h5>
        </div>
        <div class="col" style="padding:0px;padding-top: 10px;">
            <h5 class="providence-primary" ng-if="loggedInAccount.rippleName"><span>{{balances.prvAmount}}</span> PRV</h5>
        </div>
    </div>
        <div class="row" style="padding:0px;">
            <div class="col" style="padding:0px;">
                <div class="button-bar">
                    <a class="button marketing-primary-block" ng-class="{ active: data.section == 'video' }" ng-click="switchSection('video')"><i class="icon ion-film-marker"></i></a>
                    <a class="button marketing-primary-block" ng-class="{ active: data.section == 'getStarted' }" ng-click="switchSection('getStarted')"><i class="icon ion-planet"></i></a>
                    <a class="button marketing-primary-block" ng-class="{ active: data.section == 'play' }" ng-click="switchSection('play')"><i class="icon ion-game-controller-a"></i></a>
                    <a class="button marketing-primary-block" ng-class="{ active: data.section == 'redeem' }" ng-click="switchSection('redeem')"><i class="icon ion-ribbon-a"></i></a>
                </div>
            </div>
        </div>
        <div class="row" style="padding:0px;">
            <div class="col" style="padding:0px;text-align:center;">
                <h4 class="main-font">1</h4>
            </div>
            <div class="col" style="padding:0px;text-align:center;">
                <h4 class="main-font">2</h4>
            </div>
            <div class="col" style="padding:0px;text-align:center;">
                <h4 class="main-font">3</h4>
            </div>
            <div class="col" style="padding:0px;text-align:center;">
                <h4 class="main-font">4</h4>
            </div>
        </div>
        <div class="row" style="padding:0px;" ng-if="data.section == 'video'">
            <div class="col" style="padding:0px;text-align:center;">
                <youtube code="'000al7ru3ms'"></youtube>
            </div>
        </div>
        <div class="row" style="padding:0px;margin-top:0px;" ng-if="data.section == 'getStarted'">
            <div class="col" ng-if="data.startSection == 'start'" style="padding:0px;margin-top:0px;">
                <div class="list card" style="padding:0px;margin-top:0px;">

                    <div class="item item-avatar">
                        <img src="https://d1pzmogk9nquph.cloudfront.net/img/providenceCirl-01.png">
                        <h2 class="providence-primary" style="float:left;margin-bottom:0px;">Providence</h2>
                        <br>
                        <p class="providence-primary" style="font-size: 12px;float:left;">{{data.date | date:'medium'}}</p>
                    </div>

                    <div class="item item-body">
                        <p class="regularPost" style="text-align:left;margin-top:0px;">
                            Dear partner,
                            <br><br>
                            As a crypto community, we had our fun on Earth. The time has come to get serious about expanding our horizons. Commander Kitteh has led the charge to enterprising new worlds. In order to reap profits from hidden new enterprises we must ask ourselves at any given moment: Where is Commander Kitteh? Click "Get Started" below to get your PRV on the Ripple protocol, find Commander Kitteh, and reap your rewards.
                            <br><br>
                            ~OurProvidence
                        </p>
                    </div>

                    <a class="item providence-primary-block" style="color:#fff !important;font-size: 14px;" ng-click="switchStartSection('form')" target="_blank">
                        Get Started
                    </a>

                </div>
            </div>
            <div class="col" ng-if="data.startSection == 'form' || data.startSection == 'trust'" style="padding:0px;">
                <div class="list list-inset" style="padding:0px;margin-top:0px;" ng-if="data.startSection == 'form'">
                    <form ng-submit="getPRV()">
                        <label class="item item-input">
                            <input type="text" placeholder="Email" ng-model="data.email">
                        </label>
                        <label class="item item-input" ng-if="!loggedInAccount.rippleName" >
                            <input type="text" placeholder="Ripple Name" ng-model="data.rippleName">
                        </label>
                        <button type="submit" class="item button button-block providence-primary-block" ng-class="{ disabled: !data.address && !loggedInAccount.publicKey }" style="margin-top:0px;">Submit</button>
                    </form>
                </div>

                <div ng-if="data.startSection == 'trust'">
                    <div class="list card" style="padding:0px;margin-top:0px;">

                        <div class="item item-avatar">
                            <img src="https://d1pzmogk9nquph.cloudfront.net/img/providenceCirl-01.png">
                            <h2 class="providence-primary" style="float:left;margin-bottom:0px;">Providence</h2>
                            <br>
                            <p class="providence-primary" style="font-size: 12px;float:left;">Add ~OurProvidence gateway for PRV.</p>
                        </div>

                        <div class="item item-image">
                            <img style="max-width:250px;" ng-src="{{data.trustQr}}">
                        </div>

                        <a class="item providence-primary-block" ng-href="{{data.trustLink}}" target="_blank" style="color:#fff;">
                            Receive PRV
                        </a>

                    </div>
                </div>

                <div ng-if="data.startSection == 'success'" style="text-align:center;">
                    <div class="list card">
                        <div class="item">
                            <i class="icon ion-ios7-checkmark-outline" style="color:#113a64;font-size:100px;"></i>
                            <h4 style="color:#113a64;">{{data.success}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="data.section == 'play'">
            <div ng-if="data.playSection == 'choose'">
                <div class="row" style="padding:0px;margin-top:0px;">
                    <div class="col" style="padding:0px;margin-top:0px;">
                        <hr style="margin-top:0px;">
                        <h3 class="main-font-color" style="margin-bottom:0px;margin-top:0px;cursor:hand;cursor:pointer;" ng-click="toggleExplanation()">Where is Commander Kitteh?</h3>
                        <hr>
                    </div>
                </div>
                <div class="row" style="padding:0px;margin-top:0px;" ng-if="data.explanationOn">
                    <div class="col" style="padding:0px;margin-top:0px;">
                        <p class="providence-primary" style="margin-top:0px;margin-bottom:0px;">
                            Choose correctly, and reap 2X entered PRV. Choose incorrectly, and lose 1/6 entered PRV.
                        </p>
                        <hr ng-if="amount">
                    </div>
                </div>
                <div class="row" style="padding:0px;margin-top:0px;" ng-if="amount">
                    <div class="col" style="padding:0px;margin-top:0px;">
                        <h4 class="main-font-color" style="margin-bottom:0px;margin-top:0px;cursor:hand;cursor:pointer;" ng-click="toggleLastGame()">Last Game <i class="icon ion-code-download" style="font-size:24px;"></i></h4>
                        <hr>
                    </div>
                </div>
                <div class="row" style="padding:0px;margin-top:0px;" ng-if="data.lastGameOn">
                    <div class="col" style="padding:0px;margin-top:0px;">
                        <div class="card" style="margin-bottom:0px;">
                            <div class="item item-divider">
                                <h3 class="providence-primary" style="margin-top:0px;margin-bottom:0px;">Stats</h3>
                            </div>
                        </div>
                        <div class="card" style="margin-top:0px;margin-bottom:0px;">
                            <div class="item item-divider providence-primary">
                                Winning Celestial Body
                            </div>
                            <div class="item item-text-wrap providence-primary">
                                <img style="width:25px;" src="{{data.planets[lastRoller].image}}" />
                            </div>
                        </div>
                        <div class="card" style="margin-top:0px;margin-bottom:0px;">
                            <div class="item item-divider providence-primary">
                                PRV <span ng-if="win">Won</span> <span ng-if="!win">Lost</span>
                            </div>
                            <div class="item item-text-wrap providence-primary">
                                {{amount}}
                            </div>
                        </div>
                        <div class="card" style="margin-top:0px;margin-bottom:0px;">
                            <div class="item item-divider providence-primary">
                                Winning Celestial Body Index
                            </div>
                            <div class="item item-text-wrap providence-primary">
                                {{lastRoller}}
                            </div>
                        </div>
                        <div class="card" style="margin-bottom:0px;">
                            <div class="item item-divider">
                                <h3 class="providence-primary" style="margin-top:0px;margin-bottom:0px;">Provably Fair?</h3>
                            </div>
                        </div>
                        <div class="card" style="margin-top:0px;margin-bottom:0px;">
                            <div class="item item-divider providence-primary">
                                Secret
                            </div>
                            <div class="item item-text-wrap providence-primary" style="font-size:8px;">
                                {{secret}}
                            </div>
                        </div>
                        <div class="card" style="margin-top:0px;margin-bottom:0px;">
                            <div class="item item-divider providence-primary">
                                Client Seed
                            </div>
                            <div class="item item-text-wrap providence-primary" style="font-size:8px;">
                                {{clientSeed}}
                            </div>
                        </div>
                        <div class="card" style="margin-top:0px;margin-bottom:0px;">
                            <div class="item item-divider providence-primary">
                                Server Seed
                            </div>
                            <div class="item item-text-wrap providence-primary" style="font-size:8px;">
                                {{serverSeed}}
                            </div>
                        </div>
                        <div class="card" style="margin-top:0px;margin-bottom:0px;">
                            <div class="item item-divider providence-primary">
                                Combined
                            </div>
                            <div class="item item-text-wrap providence-primary" style="font-size:8px;">
                                {{serverSeed}}{{clientSeed}}
                            </div>
                        </div>
                        <div class="card" style="margin-top:0px;margin-bottom:0px;">
                            <div class="item item-divider providence-primary">
                                Big Secret<br><span style="font-size:8px;">(Mersenne Twist Seed)</span>
                            </div>
                            <div class="item item-text-wrap providence-primary" style="font-size:8px;">
                                {{bigSecret}}
                            </div>
                        </div>
                        <div class="card" style="margin-top:0px;margin-bottom:0px;">
                            <div class="item item-divider providence-primary">
                                Client Hashed Big Secret<br><span style="font-size:8px;">(Mersenne Twist Seed)</span>
                            </div>
                            <div class="item item-text-wrap providence-primary" style="font-size:8px;">
                                {{hashInBrowserSecret}}
                            </div>
                        </div>
                        <div class="card" style="margin-top:0px;margin-bottom:0px;">
                            <div class="item item-divider providence-primary">
                                Client Determined<br>Celestial Index
                            </div>
                            <div class="item item-text-wrap providence-primary">
                                {{provablyFair}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding:0px;margin-top:0px;">
                    <div class="col" style="padding:0px;margin-top:0px;" ng-repeat="space in data.planets.slice(0, 3)">
                        <img ng-src="{{space.image}}" style="width:100%;max-width:200px;cursor:hand;cursor:pointer;" class="planetary" ng-click="guess(space.index)" />
                    </div>
                </div>
                <div class="row" style="padding:0px;margin-top:0px;">
                    <div class="col" style="padding:0px;margin-top:0px;" ng-repeat="space in data.planets.slice(3, 6)">
                        <img ng-src="{{space.image}}" style="width:100%;max-width:200px;cursor:hand;cursor:pointer;" class="planetary" ng-click="guess({{space.index}})" />
                    </div>
                </div>
            </div>

            <div class="row" style="padding:0px;margin-top:0px;" ng-if="data.playSection == 'send' && !loggedInAccount.rippleName">
                <div class="col" style="padding:0px;margin-top:0px;">
                    <div class="list card" style="padding:0px;margin-top:0px;">

                        <div class="item item-avatar">
                            <img src="https://d1pzmogk9nquph.cloudfront.net/img/providenceCirl-01.png">
                            <h2 class="providence-primary" style="float:left;margin-bottom:0px;">Providence</h2>
                            <br>
                            <p class="providence-primary" style="font-size: 12px;float:left;" ng-click="toggleSecret()">Provably fair?</p>
                            <span ng-if="data.secretOn" style="font-size:6px;"><br>Client Seed: {{clientSeed}}<br>Secret: {{data.secret}}</span>
                            <br>
                            <p class="providence-primary" style="font-size: 12px;float:left;">PRV to ~OurProvidence:</p>
                        </div>

                        <div class="item item-image">
                            <img style="max-width:250px;" ng-src="{{data.qr}}">
                        </div>

                        <a class="item providence-primary-block" ng-href="{{data.link}}" target="_blank" style="color:#fff;">
                            Start Game
                        </a>

                    </div>
                </div>
            </div>

            <div ng-if="data.playSection == 'send' && loggedInAccount.rippleName">
                <div class="list card">

                    <div class="item item-avatar">
                        <img src="https://d1pzmogk9nquph.cloudfront.net/img/providenceCirl-01.png">
                        <h2 class="providence-primary" style="float:left;margin-bottom:0px;">Providence</h2>
                        <br>
                        <p class="providence-primary" style="font-size: 12px;float:left;">PRV to ~OurProvidence</p>
                    </div>

                    <div class="item item-image">
                        <label class="item item-input">
                            <input type="text" placeholder="Amount PRV" ng-model="data.amountPrv">
                        </label>
                    </div>

                    <a class="item providence-primary-block" ng-if="data.pathObject" ng-repeat="path in data.pathObject.alternatives" ng-click="sendPrv(path)" style="color:#fff;">
                        <span ng-if='path.source_amount.currency == "PRV"'>
                        Send {{path.source_amount.value | number : 4}} {{path.source_amount.currency}}
                        </span>
                        <span ng-if='path.source_amount.currency != "PRV"'>
                        Send {{path.source_amount.value | number : 4}} {{path.source_amount.currency}} for {{data.amountPrv | number : 4}} PRV
                        </span>
                    </a>

                </div>
            </div>

            <div class="row" style="padding:0px;margin-top:0px;" ng-if="data.playSection == 'success'">
                <div class="col" style="padding:0px;margin-top:0px;">
                    <div class="list card" style="padding:0px;margin-top:0px;text-align:center;">
                        <div class="item">
                            <i class="icon ion-ios7-checkmark-outline" style="color:#113a64;font-size:100px;"></i>
                            <h4 style="color:#113a64;">{{data.playSuccess}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding:0px;margin-top:0px;" ng-if="data.section == 'redeem'">
            <div class="col" style="padding:0px;margin-top:0px;">
                <hr style="margin-top:0px;">
                    <h4 class="providence-primary" style="margin-top:0px;">Leaderboard</h4>
                <hr>
                <div class="list">
                    <span class="item item-avatar" ng-if="!leaderBoard || !leaderBoard.leaderBoard[0]">
                        <div class="ava">
                            <h1 class="providence-primary">~</h1>
                        </div>
                        <h2 class="providence-primary">Waiting for players</h2>
                        <p class="providence-primary"><i class="icon ion-loading-c" style="width: 15px;height: 14px;"></i></p>
                    </span>
                </div>
                <div class="list">
                    <span class="item item-avatar" ng-repeat="leader in leaderBoard.leaderBoard | orderBy:balance:reverse | limitTo : 10">
                        <div class="ava">
                            <h1 class="providence-primary">{{$index}}</h1>
                        </div>
                        <h2 class="providence-primary">~{{leader.username}}</h2>
                        <p class="providence-primary">{{leader.balance}}</p>
                    </span>
                </div>
            </div>
            <div class="col" style="padding:0px;margin-top:0px;">
                <hr style="margin-top:0px;">
                    <h4 class="providence-primary" style="margin-top:0px;">Prizes</h4>
                <hr>
                <div ng-controller="PrizeCardsCtrl">
                    <swipe-cards class="prize-swipe-cards" style="text-align:center;">
                        <swipe-card on-card-swipe="cardSwiped()" id="prize-start-card" style="text-align:center;">
                            <div class="list card" ng-if="cards && cards[0]">

                                <div class="item item-avatar">
                                    <img src="https://d1pzmogk9nquph.cloudfront.net/img/providenceCirl-01.png">
                                    <h2 class="providence-primary" style="float:left;margin-bottom:0px;">{{cards[0].name}}</h2>
                                    <br>
                                    <p class="providence-primary" style="font-size: 12px;float:left;">
                                        <span ng-if="cards[0].type == 'redeem'">{{cards[0].price}} PVD</span>
                                        <span ng-if="cards[0].type == 'auction'">Current Bid {{cards[0].highestBid.price}} PVD</span>
                                    </p>
                                </div>

                                <div class="item item-body">

                                    <div class="item item-image">
                                        <img style="max-width:250px;" ng-src="{{cards[0].image}}">
                                    </div>
                                    <h4 ng-if="cards[0].type == 'auction' && cards[0].endDate" class="providence-primary">
                                        Ending in <timer finish-callback="auctionComplete(cards[0]._id)" end-time="{{cards[0].endDate}}"><span ng-if="days">{{days}} days,</span> <span ng-if="hours">{{hours}} hours,</span> <span ng-if="minutes">{{minutes}} minutes,</span> <span ng-if="seconds">{{seconds}} seconds</span>.</timer>
                                    </h4>
                                    <p>
                                        {{card[0].description}}
                                    </p>
                                </div>

                                <div class="item tabs tabs-secondary">
                                    <a class="tab-item providence-primary-block" ng-click="cardBack()">
                                        Previous
                                    </a>
                                    <a class="tab-item providence-primary-block" ng-click="selectItem(cards[0])">
                                        <span ng-if="cards[0].type == 'redeem'">Buy</span><span ng-if="cards[0].type == 'auction'">Place Bid</span>
                                    </a>
                                    <a class="tab-item providence-primary-block" ng-click="cardSwiped()">
                                        Next
                                    </a>
                                </div>

                            </div>
                        </swipe-card>
                        <swipe-card class="prize-swipe-card" ng-if="card.image" ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)">
                            <div class="list card">

                                <div class="item item-avatar">
                                    <img src="https://d1pzmogk9nquph.cloudfront.net/img/providenceCirl-01.png">
                                    <h2 class="providence-primary" style="float:left;margin-bottom:0px;">{{card.name}}</h2>
                                    <br>
                                    <p class="providence-primary" style="font-size: 12px;float:left;"><span ng-if="card.type == 'redeem'">{{card.price}} PVD</span><span ng-if="card.type == 'auction'">Current Bid {{card.highestBid.price}} PVD</span></p>
                                </div>

                                <div class="item item-body">

                                    <div class="item item-image">
                                        <img style="max-width:250px;" ng-src="{{card.image}}">
                                    </div>
                                    <h4 ng-if="card.type == 'auction' && card.endDate" class="providence-primary">
                                        Ending in <timer finish-callback="auctionComplete(card._id)" end-time="{{card.endDate}}"><span ng-if="days">{{days}} days,</span> <span ng-if="hours">{{hours}} hours,</span> <span ng-if="minutes">{{minutes}} minutes,</span> <span ng-if="seconds">{{seconds}} seconds</span>.</timer>
                                    </h4>
                                    <p>
                                       {{card.description}}
                                    </p>
                                </div>

                                <div class="item tabs tabs-secondary">
                                    <a class="tab-item providence-primary-block" ng-click="cardBack()">
                                        Previous
                                    </a>
                                    <a class="tab-item providence-primary-block" ng-click="selectItem(card)">
                                        <span ng-if="card.type == 'redeem'">Buy</span><span ng-if="card.type == 'auction'">Place Bid</span>
                                    </a>
                                    <a class="tab-item providence-primary-block" ng-click="cardSwiped()">
                                        Next
                                    </a>
                                </div>

                            </div>
                        </swipe-card>
                    </swipe-cards>
                </div>
            </div>
        </div>

    </ion-content>
    <div class="row" style="padding:0px;text-align:center;position:fixed;bottom:0px;z-index:999999999999;">
        <div class="col">
            <i class="icon ion-key key" ng-show="!loggedInAccount.publicKey" style="font-size:50px;" ng-click="connectRipplePrompt()"></i>
            <i class="icon ion-chatbubbles key" ng-show="loggedInAccount.rippleName" style="font-size:50px;" ng-click="toggleChat()"></i>
        </div>
    </div>
</ion-view>