<ion-view title="pier">
  <img style="width:100%;margin-top:95px;" src="https://d1pzmogk9nquph.cloudfront.net/img/dreamstimelarge_42209139.jpg">
  <ion-content class="padding">
      <image class="fullLogo" src="https://d1pzmogk9nquph.cloudfront.net/img/pier.png" />
      <h1 class="pier-primary timer" am-time-ago="timer"></h1>
      <h1 class="pier-primary tagline">our simple exchange.</h1>
  </ion-content>
</ion-view>
