<ion-view title="paladin">
    <img style="width:100%;margin-top: 100px;" src="https://d1pzmogk9nquph.cloudfront.net/img/dreamstimelarge_30606204.jpg">
    <ion-content class="padding">
        <image class="fullLogo" src="https://d1pzmogk9nquph.cloudfront.net/img/paladin.png" />
        <h1 class="paladin-primary timer" am-time-ago="timer"></h1>
        <h1 class="paladin-primary tagline">our reputation engine.</h1>
    </ion-content>
</ion-view>