<ion-view title="blog">
    <ion-content class="padding" style="padding-top: 55px;">

        <div class="row" style="padding-top: 10px;padding-bottom: 2px;margin-bottom:0px;">
            <div class="col col-40" style="width:20%;"><a href="https://twitter.com/OurProvidence" target="_blank"><img width="30" height="30" src="https://d1pzmogk9nquph.cloudfront.net/img/twitter.svg"></a></div>
            <div class="col col-20" style="width:60%;"></div>
            <div class="col col-40" style="width:20%;"><a href="http://ourprovidence.tumblr.com/" target="_blank"><img width="30" height="30" src="https://d1pzmogk9nquph.cloudfront.net/img/tumblr.svg"></a></div>
        </div>

        <div class="list card" ng-if="blogPosts && blogPosts[0]" ng-repeat="post in blogPosts" style="margin-top:0px;">

            <div class="item item-avatar">
                <img src="https://d1pzmogk9nquph.cloudfront.net/img/providenceCirl-01.png">
                <h2 class="providence-primary" ng-if="post.type == 'regular' && post['regular-title']" style="float:left;margin-bottom:0px;">{{post['regular-title']}}</h2>
                <h2 class="providence-primary" ng-if="post.type != 'regular' || !post['regular-title']" style="float:left;margin-bottom:0px;">Providence</h2>
                <br>
                <p class="providence-primary" style="font-size: 12px;float:left;">{{post.date  | date:'medium'}}</p>
            </div>

            <div class="item item-body">
                <img ng-if="post.type == 'photo'" class="full-image" ng-src="{{post['photo-url-1280']}}">
                <p ng-if="post.type == 'photo'" class="regularPost" ng-bind-html="post['regular-body']" style="text-align:left;margin-top:0px;">
                </p>
                <p ng-if="post.type == 'regular'" class="regularPost" ng-bind-html="post['regular-body']" style="text-align:left;margin-top:0px;">
                </p>
                <p ng-if="post.type == 'quote'" class="quote" style="text-align:left;margin-top:0px;">
                    "<span ng-bind-html="post['quote-text']"></span>"
                </p>
                <p ng-if="post.type == 'quote'" class="quote" style="text-align:left;margin-top:0px;">
                    -<span ng-bind-html="post['quote-source']"></span>
                </p>
                <!-- enable with ripple wallet memo as phase II
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
                -->
            </div>
            <!-- enable with ripple wallet memo as phase II
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>
            -->

        </div>

    </ion-content>
</ion-view>