<ion-view title="peercover">
    <img style="width:100%;margin-top:95px;" src="https://d1pzmogk9nquph.cloudfront.net/img/shutterstock_130778021.jpg">
    <ion-content class="padding">
        <image class="fullLogo" src="https://d1pzmogk9nquph.cloudfront.net/img/peercover.png" />
        <h1 class="peercover-primary timer" am-time-ago="timer"></h1>
        <h1 class="peercover-primary tagline">our insurance.</h1>
    </ion-content>
</ion-view>