
<ion-tabs class="tabs-icon-top">

  <ion-tab title="Providence" icon="icon ion-home" href="#/tab/providence">
    <ion-nav-view name="tab-providence"></ion-nav-view>
  </ion-tab>

    <ion-tab title="Pier" icon="icon ion-home" href="#/tab/pier">
        <ion-nav-view name="tab-pier"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Pecunia" icon="icon ion-home" href="#/tab/pecunia">
        <ion-nav-view name="tab-pecunia"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Paladin" icon="icon ion-home" href="#/tab/paladin">
        <ion-nav-view name="tab-paladin"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Peercover" icon="icon ion-home" href="#/tab/peercover">
        <ion-nav-view name="tab-peercover"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Pilgrim" icon="icon ion-home" href="#/tab/pilgrim">
        <ion-nav-view name="tab-pilgrim"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Blog" icon="icon ion-home" href="#/tab/blog">
        <ion-nav-view name="tab-blog"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Tradein" icon="icon ion-home" href="#/tab/tradein">
        <ion-nav-view name="tab-tradein"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Admin" icon="icon ion-home" href="#/tab/admin">
        <ion-nav-view name="tab-admin"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Invest" icon="icon ion-home" href="#/tab/invest">
        <ion-nav-view name="tab-invest"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Foreigninvest" icon="icon ion-home" href="#/tab/foreigninvest">
        <ion-nav-view name="tab-foreigninvest"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Command" icon="icon ion-home" href="#/tab/command">
        <ion-nav-view name="tab-command"></ion-nav-view>
    </ion-tab>

</ion-tabs>
