<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Providence</title>

    <link href="css/ionic.min.css" rel="stylesheet">
    <link href="css/stylesheet.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
      <!-- bower:css -->
      <link rel="stylesheet" href="lib/angular-native-picker/build/themes/default.css" />
      <link rel="stylesheet" href="lib/angular-native-picker/build/themes/default.date.css" />
      <link rel="stylesheet" href="lib/angular-native-picker/build/themes/default.time.css" />
      <!-- endbower -->

    <link rel="icon" href="https://d1pzmogk9nquph.cloudfront.net/img/favicon.ico" type="image/x-icon" />

    <script src="lib/jQuery/jquery.min.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="cordova.js"></script>

      <!-- bower:js -->
      <!-- endbower -->

    <script src="https://invest.providence.solutions/socket.io/socket.io.js"></script>

      <script src="lib/lodash/dist/lodash.compat.js"></script>
      <script src="lib/moment/min/moment.min.js"></script>
      <script src="lib/angular-moment/angular-moment.min.js"></script>
      <script src="lib/ripple/ripple-min.js"></script>
      <script src="lib/angular-gravatar/build/md5.min.js"></script>
      <script src="lib/angular-gravatar/build/angular-gravatar.min.js"></script>
      <script src="lib/angular-lodash/angular-lodash.js"></script>
      <script src="lib/chance/chance.js"></script>
      <script src="lib/fast-sha256/sha256.min.js"></script>
      <script src="lib/angular-emoticons/javascripts/angular-emoticons.js"></script>
      <script src="lib/jquery-waypoints/waypoints.min.js"></script>
      <script src="lib/angular-waypoints/dist/angular-waypoints.min.js"></script>
      <script src="lib/swipecards/ionic.swipecards.js"></script>
      <script src="lib/angular-timer/dist/angular-timer.js"></script>
      <script src="lib/angular-native-picker/build/angular-datepicker.js"></script>
      <script src="js/app.js"></script>
      <script src="js/controllers.js"></script>
      <script src="js/services.js"></script>
  </head>
  <body ng-app="starter" animation="slide-left-right-ios7">

    <ion-nav-bar class="bar-stable nav-title-slide-ios7" ng-class="{initialNavBar: stated == 'tab.providence'}">
      <div class="row row-center" style="margin-top:87px;text-align:center;">
          <div class="col"></div>
          <div class="col col-center" style="max-width: 110px;text-align:center;" ng-controller="CardsCtrl">
              <swipe-cards class="swipe-cards" style="text-align:center;">
                  <swipe-card on-card-swipe="cardSwiped()" ng-click="cardSwiped()" id="start-card" style="text-align:center;">
                      <div class="image" ng-controller="CardCtrl" style="text-align:center;">
                          <div style="width:100px;height:100px;" class="sprite" ng-class="starterSrc.cssClass"></div>
                      </div>
                  </swipe-card>
                  <swipe-card class="swipe-card" ng-if="card.image" ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)" ng-click="cardSwiped($index)">
                      <div class="image" ng-controller="CardCtrl" style="text-align:center;">
                          <div style="width:100px;height:100px;" class="sprite" ng-class="card.cssClass"></div>
                      </div>
                  </swipe-card>
              </swipe-cards>
          </div>
          <div class="col"></div>
      </div>
    </ion-nav-bar>

    <ion-nav-view>

    </ion-nav-view>
    <div class="commanderKitteh" style="display:none;position:fixed;bottom:0px;z-index: 999999;max-height: 400px;">
        <img class="commanderKittehImage" src="https://d1pzmogk9nquph.cloudfront.net/img/commanderKitteh.png" style="z-index: 99999999999;max-height: 400px;">
    </div>
    <div class="chatPane" ng-if="chatData.chatOn">
        <div class="row" ng-click="toggleChat()" style="cursor:hand;cursor:pointer;padding-top: 0px;margin-top: 0px;height: 40px;position: fixed;">
            <div class="col" style="padding:0px;text-align:center;">
                <i class="icon ion-chevron-down key"></i>
            </div>
        </div>
        <div class="row" style="height:252px;">
            <div class="col" style="padding:0px;text-align:center;">
                <div class="list" style="max-height:300px;overflow-y:scroll;" keep-scroll>
                    <span class="item item-avatar" scroll-item ng-repeat="message in chatData.messages | unique: 'hash' | orderBy : 'date' : false">
                        <div class="ava">
                            <h4 class="providence-primary" ng-if="message.username">~{{message.username}}</h4>
                            <h4 class="providence-primary" ng-if="!message.username && message.address">{{message.address}}</h4>
                        </div>
                        <p class="providence-primary" ng-bind-html="message.message | emoticonize">}</p>
                    </span>
                </div>
                <span id="bottom" style="height:5px;" zum-waypoint="waypoints" down="position.bottom" up="position.up" offset="5%"></span>
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding:0px;text-align:center;">
                <div class="list">
                    <div class="item item-input-inset" style="width: 100%;">
                        <form ng-submit="sendMessage()" style="width: 100%;">
                            <label class="item-input-wrapper" style="width: 80%;display: inline-block;">
                                <input type="text" ng-model="chatData.message" class="ng-pristine ng-valid">
                            </label>
                            <button type="submit" ng-class="{ disabled: chatData.sending }" class="button button-small marketing-primary-bg main-font" style="width: 20%;margin-left: 0px;display: inline-block;color: #fff;">
                                <span ng-if="chatData.sending"><i class="icon ion-loading-c" style="height: 24px;width: 25px;"></i></span><span ng-if="!chatData.sending">Send</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
