.tabs, .title {
    display: none;
}

ion-nav-view {
    background-color: #e7edef !important;
}

.chatPane {
    padding:0px;
    width: 100%;
    height: 300px;
    z-index: 999999999;
    position: fixed;
    bottom: 0;
    background: #e7edef;
    background: -moz-linear-gradient(top,  #133c66 0%, #7db9e8 13%, #e7edef 26% ); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#133c66), color-stop(13%,#7db9e8), color-stop(26%,#e7edef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #133c66 0%, #7db9e8 13%, #e7edef 26% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #133c66 0%, #7db9e8 13%, #e7edef 26% ); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #133c66 0%, #7db9e8 13%, #e7edef 26% ); /* IE10+ */
    background: linear-gradient(to bottom,  #133c66 0%, #7db9e8 13%, #e7edef 26% ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( endColorstr='#133c66', startColorstr='#e7edef',GradientType=0 ); /* IE6-9 */
}

.pane {
    background: #e7edef; /* Old browsers */
    background: -moz-linear-gradient(top,  #e7edef 84%, #7db9e8 93%, #133c66 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(84%,#e7edef), color-stop(93%,#7db9e8), color-stop(100%,#133c66)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e7edef 84%,#7db9e8 93%,#133c66 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e7edef 84%,#7db9e8 93%,#133c66 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e7edef 84%,#7db9e8 93%,#133c66 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e7edef 84%,#7db9e8 93%,#133c66 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7edef', endColorstr='#133c66',GradientType=0 ); /* IE6-9 */
}

.nav-bar {
    background: url("https://d1pzmogk9nquph.cloudfront.net/img/blueprint.png") repeat !important;
    background-size: 960px 576px !important;
    height: 99px;
}

.initialNavBar {
    background: #113a64 !important;
    background: -moz-linear-gradient(top,  #113a64 0%, #4179a2 100%, #133c66 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#113a64), color-stop(100%,#4179a2), color-stop(100%,#133c66)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #113a64 0%,#4179a2 100%,#133c66 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #113a64 0%,#4179a2 100%,#133c66 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #113a64 0%,#4179a2 100%,#133c66 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom, #113a64 0%,#4179a2 100%,#e7edef 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#113a64', endColorstr='#4179a2',GradientType=0 ) !important;
}
.addressEntry {
    max-height: 255px !important;
}
.swipe-cards {
    width: 100%;
    height: 100px;
}
.swipe-card {
    display: none;
    -moz-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.swipe-card img, #start-card img {
    cursor: hand;
    cursor: pointer;
}
#start-card {
    height: 100px;
    width: 100%;
    display: inline-block;
}
#start-card span {
    display: inline-block;
    vertical-align: middle;
}
.prize-swipe-cards {
    width: 100%;
}
.prize-swipe-card {
    display: none;
    -moz-transform: scale(1,1);
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.prize-swipe-card img, #start-card img {
    cursor: hand;
    cursor: pointer;
}
#prize-start-card {
    height: 100px;
    width: 100%;
    display: inline-block;
}
#prize-start-card span {
    display: inline-block;
    vertical-align: middle;
}
@-webkit-keyframes bounceIn {
    0% {
        transform: scale(0,0);
        -moz-transform: scale(0,0);
        -webkit-transform: scale(0,0);
    }
    70% {
        transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
        -webkit-transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
        -moz-transform: scale(1,1);
        -webkit-transform: scale(1,1);
    }
}

.swipe-card.pop-in-start {
    transform: scale(0,0);
    -moz-transform: scale(0,0);
    -webkit-transform: scale(0,0);
}
.swipe-card.pop-in {
    animation: bounceIn 0.4s ease-out;
    -moz-animation: bounceIn 0.4s ease-out;
    -webkit-animation: bounceIn 0.4s ease-out;
}

.pecunia-primary {
    color: #57767e;
    font-family: 'exo_2semi_bold';
}

.pecunia-secondary {
    color: #88c148;
    font-family: 'exo_2semi_bold';
}

.paladin-primary {
    color: #8a8a8a;
    font-family: 'nanamiuploaded_file';
}

.paladin-secondary {
    color: #7a797b;
    font-family: 'nanamiuploaded_file';
}

.peercover-primary {
    color: #2c3c50;
    font-family: 'museo700';
}

.pilgrim-primary {
    color: #666479;
    font-family: 'nanamiuploaded_file';
}

.pilgrim-secondary {
    color: #000;
    font-family: 'nanamiuploaded_file';
}

.pilgrim-tertiary {
    color: #f1f1f2;
    font-family: 'nanamiuploaded_file';
}

.providence-primary {
    color: #14274d;
    font-family: 'aviano_future_boldbold';
}

.marketing-primary-block {
    color: #ffffff;
    background-color: #133c66;
    font-family: 'aviano_future_boldbold';
}

.marketing-primary-block.active {
    color: #ffffff;
    background-color: #629ac3;
    font-family: 'aviano_future_boldbold';
}

.main-font {
    font-family: 'aviano_future_boldbold';
}

.main-font-color {
    color: #14274d;
    font-family: 'aviano_future_boldbold';
}

.marketing-primary-block:hover {
    color: #ffffff;
}

.marketing-primary-block:active {
    color: #ffffff;
    background-color: #629ac3;
}

.providence-primary-block {
    background-color: #14274d;
    color: #fff;
    font-family: 'aviano_future_boldbold';
}

.providence-primary-block:active {
    background-color: #14274d;
    color: #fff;
}

.providence-primary-block:hover {
    background-color: #14274d;
    color: #fff;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #14274d;
}

.checkbox input:before, .checkbox .checkbox-icon:before {
    border-color: #14274d;
}

.providence-secondary {
    color: #c1e3f0;
    font-family: 'aviano_future_boldbold';
}

.pier-primary {
    color: #6acdec;
    font-family: 'neon_80sregular';
}

.timer {
    text-align: center;
    margin-top: 0px;
}

.timer::after {
    content: "";
    background-color: #fff;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.padding {
    text-align:center;
    padding-top: 55%;
    height: 100%;
}

.fullLogo {
    text-align: center;
    padding: 30px;
    margin-top:-20px;
    max-width: 70%;
    max-height:23%;
    max-height:23vh;
}

.tagline {
    padding-bottom: 40px;
}

.marketing-primary {
    color: #133c66;
}

.marketing-secondary {
    color: #629ac3;
}

.marketing-primary-bg, .marketing-primary-bg:active, .marketing-primary-bg:hover, .marketing-primary-bg:focus {
    background-color: #133c66;
}

.marketing-secondary-bg , .marketing-secondary-bg:active, .marketing-secondary-bg:hover, .marketing-secondary-bg:focus {
    background-color: #629ac3;
}

.imgBoard {
    padding: 5px 5px 5px;
    background-color: #e7edef;
    box-shadow: 0 1px 3px #14274d;
    -moz-box-shadow: 0 1px 2px #14274d;
    -webkit-box-shadow: 0 1px 3px #14274d;
}

.radius {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-top: 25px;
}

.regularPost p:first-child, .quote p:first-child {
    margin-top: 0px;
}

.quote {
    font-style: italic;
}

.planetary {
    transition: all .2s ease-in-out;
}

.planetary:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.ava {
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px;
}

.key {
    display: inline-block;
    cursor: hand;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    color: #14274d;
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    white-space: pre;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #133c66 , 0 0 70px #133c66 , 0 0 80px #133c66 , 0 0 100px #133c66 ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.key:hover {
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #629ac3 , 0 0 70px #629ac3 , 0 0 80px #629ac3 , 0 0 100px #629ac3 ;
}

.smallButton {
    font-size:12px !important;
    color: #fff;
}

.maxWidth {
    max-width: 100% !important;
}

.sprite { background: url('https://d1pzmogk9nquph.cloudfront.net/img/sprite.png') no-repeat top left; cursor: hand; cursor: pointer;}
.sprite.bevelBlog { background-position: 0px 0px; width: 100px; height: 100px;  }
.sprite.bevelCommand { background-position: 0px -110px; width: 100px; height: 100px;  }
.sprite.bevelInvest { background-position: 0px -220px; width: 98px; height: 100px;  }
.sprite.bevelPaladin { background-position: 0px -330px; width: 99px; height: 100px;  }
.sprite.bevelPecunia { background-position: 0px -440px; width: 99px; height: 100px;  }
.sprite.bevelPeercover { background-position: 0px -550px; width: 99px; height: 100px;  }
.sprite.bevelPier { background-position: 0px -660px; width: 99px; height: 100px;  }
.sprite.bevelPilgrim { background-position: 0px -770px; width: 99px; height: 100px;  }
.sprite.bevelProvidence { background-position: 0px -880px; width: 99px; height: 100px;  }
.sprite.bevelTradein { background-position: 0px -990px; width: 100px; height: 100px;  }