@font-face {
    font-family: 'neon_80sregular';
    src: url('neon-webfont.eot');
    src: url('neon-webfont.eot?#iefix') format('embedded-opentype'),
         url('neon-webfont.woff2') format('woff2'),
         url('neon-webfont.woff') format('woff'),
         url('neon-webfont.ttf') format('truetype'),
         url('neon-webfont.svg#neon_80sregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'aviano_future_boldbold';
    src: url('avianofuturebold-webfont.eot');
    src: url('avianofuturebold-webfont.eot?#iefix') format('embedded-opentype'),
         url('avianofuturebold-webfont.woff2') format('woff2'),
         url('avianofuturebold-webfont.woff') format('woff'),
         url('avianofuturebold-webfont.ttf') format('truetype'),
         url('avianofuturebold-webfont.svg#aviano_future_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nanamiuploaded_file';
    src: url('nanami-rounded-bld_latinlatin-ext_gdi-webfont.eot');
    src: url('nanami-rounded-bld_latinlatin-ext_gdi-webfont.eot?#iefix') format('embedded-opentype'),
         url('nanami-rounded-bld_latinlatin-ext_gdi-webfont.woff2') format('woff2'),
         url('nanami-rounded-bld_latinlatin-ext_gdi-webfont.woff') format('woff'),
         url('nanami-rounded-bld_latinlatin-ext_gdi-webfont.ttf') format('truetype'),
         url('nanami-rounded-bld_latinlatin-ext_gdi-webfont.svg#nanamiuploaded_file') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'museo700';
    src: url('exljbris_-_museo-700-webfont.eot');
    src: url('exljbris_-_museo-700-webfont.eot?#iefix') format('embedded-opentype'),
         url('exljbris_-_museo-700-webfont.woff2') format('woff2'),
         url('exljbris_-_museo-700-webfont.woff') format('woff'),
         url('exljbris_-_museo-700-webfont.ttf') format('truetype'),
         url('exljbris_-_museo-700-webfont.svg#museo700') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'exo_2semi_bold';
    src: url('exo2-semibold-webfont.eot');
    src: url('exo2-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('exo2-semibold-webfont.woff2') format('woff2'),
         url('exo2-semibold-webfont.woff') format('woff'),
         url('exo2-semibold-webfont.ttf') format('truetype'),
         url('exo2-semibold-webfont.svg#exo_2semi_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}